.container{
    display: block;
    .form{
        margin-left: 400px;
        display: flex;
        .input-form{
            size: 40px;
        }
        .btn-search{
            margin-left: 30px;
        }
        
    }

    .list-friend-search{

    }
}