.wrapper{
    display: flex;
    height: 100vh;
    position: relative;
}
.user-zone-3{
    position: absolute;
    top:80%;
    left: 80%;
}
.user-zone-1{
    position: absolute;
    top:5%;
    left: 5%;
}
.user-zone-2{
    position: absolute;
    top:5%;
    left: 80%;
}
.user-zone-0{
    position: absolute;
    top:80%;
    left: 5%;
}

.chess-board{
    display: flex;
    flex-direction: column;
    width: 1300px;
    margin: 0;
    justify-content: center;
    align-items: center;

 }




  .content{
    transform: translate(20%,0%) rotate(-30deg) skew(25deg);

    &::before{
        content: '';
        position: absolute;
        top:10px;
        left:-20px;
        height: calc(var(--width-cell)*7 + 1*2*8px);
        width: 20px;
        background-color: red;
        transform: translate(20%,20%) rotate(-45deg) skew(-45deg);    
    }
    &::after{
        content: '';
        position: absolute;
        top:calc(var(--width-cell)*7 + var(--length-cell)*2 + 1*2*8px);
        left:-7px;
        height: 15px;
        width: calc(var(--width-cell)*7 + var(--length-cell)*2 + 1*2*8px);
        background-size: 300px;
        background-color: red;
        transform:  rotate(0) skew(-45deg);   
    }
}




.move{
  animation: jump 0.5s ease-in-out;
}

.down-right{
  animation: downRight 0.5s linear;
}
.down-left{
  animation: downLeft 0.5s linear;
}
.down-top{
  animation: downTop 0.5s linear;
}
.down-bottom{
  animation: downBottom 0.5s linear;
}
@keyframes downRight{
  0%{
    transform: translate(0,-0%) ;
  }
  99%{
    transform: translate(-10px,0) ;
  }
  100%{
    transform: translate(0,-0%) ;
  }
}
@keyframes downLeft{
  0%{
    transform: translate(0,-0%) ;
  }
  99%{
    transform: translate(10px,0) ;
  }
  100%{
    transform: translate(0,-0%) ;
  }
}
@keyframes downTop{
  0%{
    transform: translate(0,-0%) ;
  }
  99%{
    transform: translate(0px,-10px) ;
  }
  100%{
    transform: translate(0,-0%) ;
  }
}
@keyframes downBottom{
  0%{
    transform: translate(0,-0%) ;
  }
  99%{
    transform: translate(0px,10px) ;
  }
  100%{
    transform: translate(0,-0%) ;
  }
}


@keyframes jump{
  0%{
    transform: translate(20%,-20%) rotate(45deg);
  }
  20%{
    transform: translate(30%,-40%) rotate(45deg);
  }
  50%{
    transform: translate(60%,-70%) rotate(45deg);
  }
  80%{
    transform: translate(30%,-40%) rotate(45deg);
  }
  100%{
    transform: translate(20%,-20%) rotate(45deg);
  }
}

  .row {
    display: flex;
    flex-direction: row;
  }
  
  .rectangle {
    position: relative;
    width: var(--width-cell);
    height: var(--length-cell);
    background-color: gray;
    margin: 1px;
    // z-index: 10;
  }
  .city-top{
    position: absolute;
    top:40px;
    left: 0;
    font-size: smaller;
  }
  .city-left{
    position: absolute;
    top:20px;
    left: 10px;
    font-size: smaller;
    transform: rotate(90deg);
  }
  .house{
    position: absolute;
    top:0px;
    left: 20px;
    z-index: 12;
    transform: rotate(45deg);
  }
  .char{
    position: absolute;
    z-index: 13;
    transform: translate(20%,20%) rotate(45deg);
  }
  .square{
    width: var(--length-cell);
    height: var(--length-cell);
    background-color: green;
    margin: 1px;
    
    // z-index: 10;
  }
  .row-board{
    display: flex;
    flex-direction: row;
  }

  .center-board{
    display: flex;
    flex-direction: row;
    .col{
        display: flex;
        .column{
          display: flex;
          flex-direction: column;
          .rectangle-column{
            position: relative;
            width: var(--length-cell);
            height: var(--width-cell);
            background-color: gray;
            margin: 1px;
            // z-index: 10;
          }   
        }
    }
    .center{
        height: calc(var(--width-cell)*7 + 1*2*7px);
        width: calc(var(--width-cell)*7 + 1*2*7px);
        background-color: aqua;
        // z-index: -3;
        button {
          padding: 15px 50px;
          color: #fff;
          background-color: #f4d35e;
          border: none;
          font-size: 20px;
          border-radius: 20px; 
          box-shadow: 1px 3px #50514F;
          outline: none;
          transition: .3s; 
        }
        
        button:hover, button:active {
          outline: none;
          background: #50514F;
          cursor: pointer;
          transform: translateY(15px); 
        }
    }
  }

.able{
  background-color: #d9d6d6 !important;
  position: relative;
  cursor: pointer;
}
.able:before{
  content: "";
  background-color: #fff;
  position: absolute;
  top:-2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  z-index: -1;
}
.able:after{
  content: "";
  background-color: #fff;
  position: absolute;
  top:-2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  z-index: -2;
  filter: blur(40px);
}

