.wrapper {
    width: var(--size-avt);
    margin-top: 20px;
}

.header {
    display: flex;
    background-color: #00000032;
    .friends, .world {
        width: 40px;
        display: flex;
        justify-content: center;
        padding: 4px;
        cursor: pointer;
    }
    .world {
    }
}

.enable {
    border-bottom: 2px solid yellow;
}

.body {
    background-color: #00000032;
    margin-top: 10px;
    height: 300px;
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    .item {
        padding: 10px 0px;
        width: 50px;
        cursor: pointer;
        
        img {
            width: 50px;
            height: 50px;
            aspect-ratio: 1 / 1;
            object-fit: cover;
            object-position: center;
            border-radius: 8px;
        }
        span {
            color: #ccc;
            font-size: 12px;
        }   
    }
    &::-webkit-scrollbar {
        display: none;
    }
}

// btn friend
.friend {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    cursor: pointer;

    .btn_friend {
        background-color: rgba($color: #491ddb, $alpha: 0.4);
        padding: 10px;
        border-radius: 50%;

        &:hover {
            opacity: 0.5;
        }
    }

}
