.wrapper{
    position: absolute;
    top:0;
    left: 700px;
}

.content{
    height: 100px;
    width: 200px;
    border: 1px solid red;
    background-color: red;
    color: white;
    font-weight: 700;
    border-radius: 5px;
}