.wrapper {
    padding: 20px 60px;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-image: url("https://i.pinimg.com/564x/6e/d5/74/6ed5749e1dc6d21c25fc53295a932bc0.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.header {
    height: 60px;
    display: flex;
    gap: 30px;
    align-items: center;

    .back {
        cursor: pointer;
        &:hover {
            opacity: 0.8;
        }
    }

    .title {
        font-size: 30px;
        font-weight: 400;
        color: #ffffff;
    }
}

.main {
    margin-top: 20px;
    display: flex;
    gap: 20px;
    height: 80vh;
}