.wrapper {
    display: flex;
    flex-direction: column;
    padding: 60px;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-image: url('../../assets/images/bg-monopoly.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.f-e {
    display: flex;
    justify-content: space-between;

    
}